{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/apichoose.css') }}" />
    <script src="{{ url_for('static', filename='js/apichoose.js') }}"></script>
{% endblock %}

{% block  title %}
Choose APIs
{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-dark justify-content-center">
    <span class="navbar-brand" id="configHeader"><span class="invisibleElement" id="tmpProjectID">{{ project.ID }}</span><span class="invisibleElement" id="tmpTaskID">{{ task_id }}</span>Choose APIs</span>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-4 header align-self-center">
      <p>APIs without choosed</p>
    </div>
    <div class="col-1 header">

    </div>
    <div class="col-7 header">
      <div class="row justify-content-between">
        <div class="col-4 align-self-center">
          Choosed APIs
        </div>
        <div class="col-4 text-right">
          <button type="button" class="btn btn-primary btn-sm" id="saveConfig">Save Config</button>
        </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 content">
      <table class="table table-bordered table-hover table-sm configured-apis">
        <thead class="thead-light">
            <tr>
            <th><input type="checkbox" id="configured-total-check" /></th>
            <th scope="col">API</th>
            <th scope="col">API Alias</th>
            <th scope="col">Project</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(counter=0) %}
            {% for api in apis %}
                <tr>
                    <td><input type="checkbox" rowindex={{ ns.counter }} /></td>
                    <td>{{ api["URL"] }}</td>
                    <td>{{ api["ALIAS"] }}</td>
                    <td>{{ project["PROJECT_NAME"] }}</td>
                </tr>
                {% set ns.counter = ns.counter + 1 %}
            {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-1 content align-self-center text-center">
        <button type="button" class="btn btn-primary my-2" id="moveRight">>></button>
        <br />
        <br />
        <button type="button" class="btn btn-primary my-2" id="moveLeft"><<</button>
    </div>
    <div class="col-7 content">
    <table class="table table-bordered table-hover table-sm choosed-apis">
        <thead class="thead-light">
            <tr>
            <th><input type="checkbox" id="choosed-total-check" /></th>
            <th scope="col">API</th>
            <th scope="col">API Alias</th>
            <th scope="col">Project</th>
            <th scope="col">LoginAPI</th>
            <th scope="col">NeededLogin</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(counter=0) %}
            {% for api in choosed_apis %}
                <tr>
                    <td><input type="checkbox" rowindex={{ ns.counter }} /></td>
                    <td>{{ api["URL"] }}</td>
                    <td>{{ api["ALIAS"] }}</td>
                    <td>{{ project["PROJECT_NAME"] }}</td>
                    <td><span><input type="radio" name="apiType" value="{{ api['LOGIN_API'] }}" /></span></td>
                    <td><span><input type="checkbox" name="needLogin" value="{{ api['NEED_LOGIN'] }}" /></span></td>
                </tr>
                {% set ns.counter = ns.counter + 1 %}
            {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}